wsdl/WorkflowSetService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.
     Modified version
-->
<definitions targetNamespace="http://pad.polito.it/WorkflowSet" name="WorkflowSetService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://pad.polito.it/WorkflowSet" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
	<xs:schema version="1.0" targetNamespace="http://pad.polito.it/WorkflowSet" xmlns:tns="http://pad.polito.it/WorkflowSet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	  <xs:element name="setWorkflows" type="tns:setWorkflows"/>
	
	  <xs:element name="setWorkflowsResponse" type="tns:setWorkflowsResponse"/>
	  
	  <xs:element name="setWorkflowsFault">
	  	<xs:complexType>
	  		<xs:sequence>
	  			<xs:element name="setWorkflowsFault" type="xs:string"/>
	  		</xs:sequence>
	  	</xs:complexType>
	  </xs:element>
	
	  <xs:complexType name="setWorkflows">
	    <xs:sequence>
	      <xs:element name="workflow" type="tns:workflow" minOccurs="1" maxOccurs="unbounded">
	          <xs:key name="actionKey">
	          	<xs:selector xpath="action"/>
	          	<xs:field xpath="name"/>
	          </xs:key>
	          <xs:keyref name="nextActionKeyRef" refer="tns:actionKey">
	          	<xs:selector xpath="action"/>
	          	<xs:field xpath="nextAction"/>
	          </xs:keyref>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="setWorkflowsResponse">
	    <xs:sequence>
	      <xs:element name="lastModTime" type="xs:dateTime"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="workflow">
	    <xs:sequence>
	      <xs:element name="name" type="tns:Name"/>
	      <xs:element name="action" type="tns:action" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="action">
	    <xs:sequence>
	      <xs:element name="name" type="tns:Name"/>
	      <xs:element name="automaticallyInstantiated" type="xs:boolean"/>
	      <xs:element name="role" type="tns:Role"/>
	      <xs:choice>
	            <xs:element name="nextAction" type="tns:Name" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
	      		<xs:element name="workflow" type="tns:Name" minOccurs="0"/>
	      </xs:choice>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:simpleType name="Name">
	  	<xs:restriction base="xs:string">
	  		<xs:pattern value="[a-zA-Z][a-zA-Z0-9]*"/>
	  	</xs:restriction>
	  </xs:simpleType>
	  
	  <xs:simpleType name="Role">
	  	<xs:restriction base="xs:string">
	  		<xs:pattern value="[a-zA-Z ]*"/>
	  	</xs:restriction>
	  </xs:simpleType>
	  	  
	</xs:schema>
  </types>
  <message name="setWorkflows">
    <part name="parameters" element="tns:setWorkflows"/>
  </message>
  <message name="setWorkflowsResponse">
    <part name="parameters" element="tns:setWorkflowsResponse"/>
  </message>
  <message name="setWorkflowsFault">
  	<part name="parameters" element="tns:setWorkflowsFault"></part>
  </message>
  <portType name="WorkflowSet">
    <operation name="setWorkflows">
      <documentation>
      Adds the workflows passed as arguments to the ones provided by the info service
      If a workflow with the same name was already available, it it overwritten
      </documentation>
      <input message="tns:setWorkflows"/>
      <output message="tns:setWorkflowsResponse"/>
      <fault name="fault" message="tns:setWorkflowsFault"/>
    </operation>
  </portType>
  <binding name="WorkflowSetPortBinding" type="tns:WorkflowSet">
  	<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
  		style="document" />
  	<operation name="setWorkflows">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  		<fault name="fault">
  			<soap:fault name="fault" use="literal"/>
  		</fault>
  	</operation>
  </binding>
  <service name="WorkflowSetService">
    <port name="WorkflowSetPort" binding="tns:WorkflowSetPortBinding">
      <soap:address location="http://localhost:8181/WorkflowSet"/>
    </port>
  </service>
</definitions>

